#by template
# Ignore raw data files
data/raw_data/

# Ignore temporary or system files
*.log
*.tmp
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints (if using notebooks)
.ipynb_checkpoints/

# Ignore Python cache files (if using Python)
__pycache__/
*.pyc
